.container {
    padding: 12px 12px 12px 24px;
}

.list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item-wrapper {
    padding-right: 8px;
    padding-left: 8px;
    border-right: 1px solid var(--grey-color);
}

.list {
    margin-top: 8px;
}

.item {
    display: flex;
    align-items: center;
}

.list-item {
    border-bottom: 1px solid var(--grey-color);
    padding-bottom: 8px;
    margin-bottom: 12px;
}

.example-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 8px;
    margin-top: 12px;
}

.example-item {
    display: flex;
    align-items: center;
}


@media (max-width: 600px) {
    .list-wrapper {
        display: block;
    }
}
