.container {
    padding: 12px 12px 12px 24px;
}

.list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item-wrapper {
    padding-right: 8px;
    padding-left: 8px;
    border-right: 1px solid var(--grey-color);
    margin-bottom: 36px;
}

.list {
    margin-top: 8px;
}

.item {
    display: flex;
    align-items: center;
}

.list-item {
    border-bottom: 1px solid var(--grey-color);
    padding-bottom: 8px;
}

.list-item:not(:last-child) {
    margin-bottom: 12px;
}

.examples {
    margin-top: 12px;
}

@media (max-width: 600px) {
    .list-wrapper {
        display: block;
    }
}
