.list {
    position: fixed;
    width: 200px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    border-right: 1px solid var(--grey-color);
    height: 100%;
    z-index: 1;
}

@media (max-width: 600px) {
    .list {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        column-gap: 16px;
        border-bottom: 1px solid var(--grey-color);
        overflow-x: scroll;
        background-color: var(--background-color);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    }
}

.button {
    transition: 0.3s opacity;
    color: black;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
}

@media (max-width: 600px) {
    .button {
        white-space: nowrap;
    }
}

.button_is-active {
    color: var(--main-color);
}

.button:hover {
    opacity: 0.6;
}


