:root {
    --main-color: #32BEA6;
    --grey-color: #d0cfcf;
    --light-grey-color: #eae8e8;
    --error-color: red;
    --green-color: green;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    box-shadow: none;
    border: 0;
    background-color: transparent;
}
